# Python Files
*__init__.py
*__pycache__/

# Project Specific Files
*-marg*
data/raw-traces/

# Output Directory
output/

data/trace
!data/trace/test.csv

data/intensity
!data/intensity/ci.csv

data/intensity_timeseries/

data/universal_traces/
!data/universal_traces/test.csv

# Evaluation scripts
eval_scripts/

cache/


.DS_Store